# **Public Health Agency of Canada COVID Cases**

Data cleaning and preparation for visualization in Tableau<br>
<br>
Publisher: Public Health Agency of Canada<br>
Licence: Open Government Licence - Canada<br>
<br>
Homepage<br>
https://health-infobase.canada.ca/covid-19/<br>
<br>
Data<br>
https://open.canada.ca/data/en/dataset/261c32ab-4cfd-4f81-9dea-7b64065690dc<br>
https://health-infobase.canada.ca/src/data/covidLive/covid19-download.csv

Run on Python 3.12.1 | No errors | No warnings

In [104]:
# -----------------------
# Step 0: Import packages
# ----------------------- 

# For data manipulation
import numpy as np
import pandas as pd

# for displaying and modifying the working directory
import os as os

In [105]:
# -----------------------------------------------
# Step 1: Load dataset into dataframe and verify
# -----------------------------------------------

# Tell python where to find the dataset and load it to dataframe df0
os.chdir(r'D:\OneDrive\Documents\Python\Current\Health Canada COVID') # absolute path, using \ and r prefix
df0 = pd.read_csv("covid19-download.csv")

# Display the first 5 rows of the dataframe
df0.head()

,pruid,prname,prnameFR,date,reporting_week,reporting_year,update,totalcases,numtotal_last7,ratecases_total,...,ratecases_last7,ratedeaths_last7,numtotal_last14,numdeaths_last14,ratetotal_last14,ratedeaths_last14,avgcases_last7,avgincidence_last7,avgdeaths_last7,avgratedeaths_last7
0,59,British Columbia,Colombie-Britannique,2020-02-01,5,2020,1.0,1,1,0.02,...,0.02,0.00,1,0,0.02,0,0.14,0.00,0.00,0.00
1,48,Alberta,Alberta,2020-02-01,5,2020,1.0,0,0,0.00,...,0.00,0.00,0,0,0,0,0.00,0.00,0.00,0.00
2,47,Saskatchewan,Saskatchewan,2020-02-01,5,2020,1.0,0,0,0.00,...,0.00,0.00,0,0,0,0,0.00,0.00,0.00,0.00
3,46,Manitoba,Manitoba,2020-02-01,5,2020,1.0,0,0,0.00,...,0.00,0.00,0,0,0,0,0.00,0.00,0.00,0.00
4,35,Ontario,Ontario,2020-02-01,5,2020,1.0,3,0,0.02,...,0.00,0.00,3,0,0.02,0,0.00,0.00,0.00,0.00

In [106]:
# ------------------------------------------------------------
# Step 2: Initial Exploratory Data Analysis (EDA) and Cleaning
# ------------------------------------------------------------

# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pruid                3090 non-null   int64
 1   prname               3090 non-null   object
 2   prnameFR             3090 non-null   object
 3   date                 3090 non-null   object
 4   reporting_week       3090 non-null   int64
 5   reporting_year       3090 non-null   int64
 6   update               2678 non-null   float64
 7   totalcases           3090 non-null   int64
 8   numtotal_last7       2775 non-null   object
 9   ratecases_total      2884 non-null   float64
 10  numdeaths            3090 non-null   int64
 11  numdeaths_last7      2744 non-null   object
 12  ratedeaths           2884 non-null   float64
 13  ratecases_last7      2569 non-null   object
 14  ratedeaths_last7     2538 non-null   object
 15  numtotal_last14      2779 non-null   object
 16  numdeaths_last14     2761 non-null   object
 17  ratetotal_last14     2573 non-null   object
 18  ratedeaths_last14    2555 non-null   object
 19  avgcases_last7       2775 non-null   object
 20  avgincidence_last7   2569 non-null   object
 21  avgdeaths_last7      2744 non-null   object
 22  avgratedeaths_last7  2538 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 555.4+ KB

In [107]:
# Display the dataframe shape (rows, columns)
df0.shape

(3090, 23)

In [108]:
# Display descriptive statistics about the data
df0.describe()

,pruid,reporting_week,reporting_year,update,totalcases,ratecases_total,numdeaths,ratedeaths
count,3090.000000,3090.000000,3090.000000,2678.000000,3.090000e+03,2884.000000,3090.000000,2884.000000
mean,39.200000,26.970874,2021.533981,0.893204,3.430198e+05,7195.108942,4327.040129,57.891883
std,26.287836,14.921261,1.122035,0.308912,8.439252e+05,7502.902507,9834.138434,55.481004
min,1.000000,1.000000,2020.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,12.000000,14.000000,2021.000000,1.000000,6.752500e+02,280.670000,6.000000,5.742500
50%,46.000000,27.000000,2022.000000,1.000000,3.901150e+04,6251.595000,196.000000,48.240000
75%,60.000000,40.000000,2023.000000,1.000000,1.595650e+05,11235.790000,2937.750000,95.167500
max,99.000000,53.000000,2024.000000,1.000000,4.901250e+06,34136.550000,57516.000000,223.960000

In [109]:
# Display column names 
df0.columns

Index(['pruid', 'prname', 'prnameFR', 'date', 'reporting_week',
       'reporting_year', 'update', 'totalcases', 'numtotal_last7',
       'ratecases_total', 'numdeaths', 'numdeaths_last7', 'ratedeaths',
       'ratecases_last7', 'ratedeaths_last7', 'numtotal_last14',
       'numdeaths_last14', 'ratetotal_last14', 'ratedeaths_last14',
       'avgcases_last7', 'avgincidence_last7', 'avgdeaths_last7',
       'avgratedeaths_last7'],
      dtype='object')

In [110]:
# Drop the columns we don't need. They're aggregate, overlapping or not needed
columns_to_drop = ['pruid', 'prnameFR', 'reporting_week', 'reporting_year', 'update', 'totalcases', 'ratecases_total', 'numdeaths', 'ratedeaths', 'numtotal_last14', 'numdeaths_last14', 'ratetotal_last14', 'ratedeaths_last14', 'avgcases_last7', 'avgincidence_last7', 'avgdeaths_last7', 'avgratedeaths_last7']
if all(col in df0.columns for col in columns_to_drop):
    df0 = df0.drop(columns_to_drop, axis=1)
else:
    print("One or more columns not found in the dataframe.")

In [111]:
# Verify that we have the columns we need
df0.columns

Index(['prname', 'date', 'numtotal_last7', 'numdeaths_last7',
       'ratecases_last7', 'ratedeaths_last7'],
      dtype='object')

In [112]:
# Verify that we still have the same number of records
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   prname            3090 non-null   object
 1   date              3090 non-null   object
 2   numtotal_last7    2775 non-null   object
 3   numdeaths_last7   2744 non-null   object
 4   ratecases_last7   2569 non-null   object
 5   ratedeaths_last7  2538 non-null   object
dtypes: object(6)
memory usage: 145.0+ KB

In [113]:
# Drop the prname values we don't need.
values_to_drop = ['Canada', 'Repatriated travellers']
df0 = df0[~df0['prname'].isin(values_to_drop)]

In [114]:
# Verify the changes
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2678 entries, 0 to 3087
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   prname            2678 non-null   object
 1   date              2678 non-null   object
 2   numtotal_last7    2363 non-null   object
 3   numdeaths_last7   2332 non-null   object
 4   ratecases_last7   2363 non-null   object
 5   ratedeaths_last7  2332 non-null   object
dtypes: object(6)
memory usage: 146.5+ KB

There are some missing (null or N/A) values in the counts and rates columns.

In [115]:
# Rename prname to Province (to ensure that Tableau will display a map of Canada)
df0.rename(columns={'prname': 'Province'}, inplace=True)

In [116]:
# Add a column for country and populate it with Canada for all rows (to ensure that Tableau will display a map of Canada)
df0 = df0.assign(Country='Canada')

In [117]:
# Change the case count and death count columns to integers and replace blanks with zeros
df0['numtotal_last7'] = pd.to_numeric(df0['numtotal_last7'], errors='coerce').fillna(0).astype(int)
df0['numdeaths_last7'] = pd.to_numeric(df0['numdeaths_last7'], errors='coerce').fillna(0).astype(int)

In [118]:
# Change the case rate and death rate columns to decimals and replace blanks with zeros
df0['ratecases_last7'] = pd.to_numeric(df0['ratecases_last7'], errors='coerce').fillna(0).astype(float)
df0['ratedeaths_last7'] = pd.to_numeric(df0['ratedeaths_last7'], errors='coerce').fillna(0).astype(float)

errors='coerce' replaces non-numeric values such as dashes in place of zeros with NaN. fillna(0) replaces NaN values with zeros.

In [119]:
# Make sure the new column (Country) is present and the data types for all columns are correct
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2678 entries, 0 to 3087
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province          2678 non-null   object
 1   date              2678 non-null   object
 2   numtotal_last7    2678 non-null   int32
 3   numdeaths_last7   2678 non-null   int32
 4   ratecases_last7   2678 non-null   float64
 5   ratedeaths_last7  2678 non-null   float64
 6   Country           2678 non-null   object
dtypes: float64(2), int32(2), object(3)
memory usage: 146.5+ KB

In [120]:
# Drop rows where numtotal_last7 and numdeaths_last7 are both 0 (no cases or deaths reported)
df0 = df0[(df0['numtotal_last7'] != 0) | (df0['numdeaths_last7'] != 0)]

In [121]:
# Verify changes and record counts before saving the cleaned data
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2117 entries, 0 to 3084
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province          2117 non-null   object
 1   date              2117 non-null   object
 2   numtotal_last7    2117 non-null   int32
 3   numdeaths_last7   2117 non-null   int32
 4   ratecases_last7   2117 non-null   float64
 5   ratedeaths_last7  2117 non-null   float64
 6   Country           2117 non-null   object
dtypes: float64(2), int32(2), object(3)
memory usage: 115.8+ KB

In [122]:
# Save prepped data to csv
df0.to_csv('Health Canada Covid for Tableau.csv', index=False, encoding='utf-8')